@charset "utf-8";
html {
  background-color: rgb(150, 217, 250);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.clear {
  clear: both;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

form {
  background-color: #87cefa;
  width: 80%;
  padding: 5% 10%;
  margin: 10%;
  border-radius: 25px;
}
.error {
  color: #00F;
}
.confirm {
  color: yellow;
  font-weight: bold;
  font-size: 2rem;
}

.btn {
  margin: auto;
  background-color: rgb(255, 233, 150);
  font-size: 1rem;
  padding: 8px 24px;
  color: black;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid rgb(255, 233, 150);
}

.btn:hover {
  background-color: rgba(255, 233, 150, 0.9);
}
.pos {
  margin: 5% 10%;
  padding: 5% 7%;
  background-color: rgba(250, 150, 162, 0.2);
  border-radius: 5px;
}
.lead {
  font-weight: bold;
  text-align: left;
}
.bbs a {
  float:right;
}
.comment-hidden {
  display: none;
}
.content {
  white-space: pre-wrap;
}
.pos p, .com p {
  white-space: pre-wrap;
}
.pos .heading {
  text-align: left;
  font-weight: bold;
}
.create {
  float: left;
}
.delete {
  float: right;
}
.heading {
  text-align: left;
}
.pos img, .com img {
  width: 50%;
}
.top-wrapper {
  margin: 0 auto;
  background-color:rgb(30, 144, 255);
  width: 100%;
}
.top-wrapper a {
  display: inline-block;
  padding: 10px 20px;
  line-height: 65px;
  color: white;
  font-weight: bold;
}

.top-wrapper a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 65px;
}

.top-wrapper a:first-of-type {
  float:left;
}
.top-wrapper a:last-of-type {
  float:right;
}
.bbses {
  padding: 50px 0; 
}
